* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    min-height: 100%;
    overflow-x: hidden;
}

.calculator {
    background-color: black;
    margin: 20px;
    padding: 30px 10px;
    width: 80%; 
    max-width: 700px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20%;
    width: 100%;
    padding: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 5vw;
    color: white;
    background-color: black;
    border: none;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.item {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: clamp(16px, 5vw, 32px);
    line-height: clamp(1.2, 5vw, 2);
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: #343434;
    border: none;
}

.percent {
    background-color: #A5A5A5;
    color: black;
}

.item1 {
    background-color: #A5A5A5;
}

.operator {
    background-color: #FF9F0A;
}

.number, .fullstop {
    background-color: #343434;
}

.negative, .clear {
    color: black;
}

.itemZero {
    background-color: #343434;
    width: clamp(70%, 80%, 90%);
    height: clamp(80%, 90%, 100%);
    border-radius:50px;
    grid-column: span 2;
    display: flex;
    max-height: 100px;
    justify-content:left;
    align-items: center;
    font-size: clamp(20px, 27px, 32px);
    line-height: clamp(1.2, 5vw, 2);
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
}
@media (max-width: 900px) {
    .calculator {
        width: 100%; 
        margin: 10px;
        width: 600px;
        padding: 40px 10px;
        
    }
}
 @media (max-width: 700px) {
    .calculator { 
        margin: 10px;
        max-width: 550px;
    }
}
  @media (max-width: 600px) {
    .calculator { 
        padding: 10px 10px;
        max-width: 500px;
    }
    .item{
        width: 90%;
        max-height: 70px;
    } 
} 
  @media (max-width: 600px) {
    .calculator { 
        padding: 10px 10px;
        max-width: 450px;
    }
   
} 
  @media (max-width: 477px) {
    .calculator { 
        padding: 10px 10px;
        max-width: 380px;
    }
   
} 
   @media (max-width: 399px) {
     .calculator { 
        max-width: 350px;
        
    } 
    .item{
     width: 100%;
    max-height: 65px;
    } 
}  
   @media (max-width: 367px) {
     .calculator { 
        padding: 0px 5px;
        margin: 10px;
        
    }
    .item{
        width: 97%;
       } 
}  
   @media (max-width: 353px) {
     .calculator { 
        max-width: 310px;
        
    }
    .item{
        width: 100%;
        min-height: 60px;
       } 
}  

 
